* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
}
ol {
    list-style: disc;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: rgb(235, 234, 237);
}
th,
td {
    max-width: 280px;
    min-width: 30px;
}
input,
select {
    width: 400px !important;
}
textarea {
    width: 90% !important;
    box-sizing: border-box;
}
